body
{
  background-color: #333333;
  width:100%;
  margin:auto;
  max-width:900px;
}
.general
{
  background-color: #95979D;
  padding: 70px;
  margin-top: 60px;
  margin-bottom: 60px;
  border: 5px outset blue;
}
h3
{
  text-align: center;
  text-decoration:underline;
  text-decoration-color: brown;
  font-size: 40px;
  margin-top:-20px;
  font-family: sans-serif;
  text-decoration-style: double;
  color: whitesmoke;
}
.nodecmu
{
  display: block;
  
}
.raspberry
{
  display: block;
  
}
.photoheader
{
  display: flex;
  margin-left: 70px;
  
}
.raspberry>img:first-of-type
{
  height: 156px;
  width: 259px;
  margin-top: 10px;
}
.raspberry>img:last-of-type
{
  height: 156px;
  width: 259px;
  
}
.nodecmu>img:first-of-type
{
  margin-top: 10px;
  height: 156px;
  width: 259px;
}
.nodecmu>img:last-of-type
{
  height: 156px;
  width: 259px;
}
.nodecmu > span,.raspberry > span
{
  text-decoration: underline;
  margin-left: 70px;
  color:white;
  text-decoration-color: brown;
  text-decoration-style: double;
}
.specialp
{
  text-decoration: underline;
  font-weight: 600;
}
.presentation>p>span
{
  text-decoration: underline;
}
.Raspberrypremice >h4
{
  text-align: center;
  text-decoration: underline;
  text-decoration-color: brown;
  text-decoration-style: double;
  color:white;
  font-size: 30px;
}
.Raspberrypremice > p
{
  font-weight: 600;
}
.asavoir
{
  text-decoration: underline;
}
pre
{
  font-size: 14px;
}
h5
{
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
}
.Raspberrypremice >img:first-of-type
{
  width: 500px;
  display: block;
  margin: auto;
}
.Raspberrypremice >img:first-of-type:hover
{
  width:100%;
  height:100%;
}
.logique1
{
  display: flex;
  margin-left: 120px;
  width: 500px;
}
.codeRasp > pre >u
{
  font-weight: 600; 
  color:red;
}
.codeRasp >texte
{
  text-align: center;
}
.codeRasp > p
{
  text-align: center;
  color:white;
}
.codeRasp > p:last-of-type
{
  margin-top: -20px;
}
.coderasp2 > pre >span
{
  color:blue;
}
.coderasp2 > p
{
  text-align: center;
  color:white;
}
.coderasp2 > pre > u 
{
  color:red;
}
.general >p
{
  text-align: center;
  color: brown;
}