<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="projet2b.css" />
  <title> feu tricolore </title>
</head>
<body>
  <div class="general">
    <header>
      <h3> Tutoriel Raspberry et NodeMCU </h3>
      <h4> PARTIE 2 </h4>
    </header>
    <div class="CMUpremice">
      <p> Nous allons à présent vous présenter la programmation d'un nodeMCU à travers le même programme.</p>
      <p class="asavoir">A savoir:</p>
      <p> Notre NodeMCU est prêt à l'emploi: Il a déjà été configuré et le langage de programmation python installé sur son OS.</p>
      <pre>Pour notre exercice nous utilisons: - Un nodeMCU.
                                    - Une plaque d'essai.
                                    - Deux LED oranges.
                                    - Deux LED vertes .
                                    - Deux LED rouges.
                                    - Deux boutons poussoirs.
                                    - Des fils électrique pour relier des composants entre eux.
                                    - Six résistance de 180 ohm pour les LED.
                                    - Deux résistance de 47K ohm pour les boutons poussoirs</pre>
      <h5> Voici le schéma de cablage utilisé </h5>
      <img src="image/cablage2.png"/>
    </div>
    <br/>
    <div class="CMU">
      <hr/>
      <p>A présent nous allons programmer le fonctionnement alterné de 2 feux
          tricolores avec un arret pour piéton . N'oubliez pas que le langage utilisé est le C++ via l'IDE Arduino.</p>
        <hr/>
        <pre>
          <u>// Affectation des variables</u>
          <u>(on associe un nom à chaque broche afin de rendre le code plus lisible pour l'utilisateur)</u>

          int button1 = 2;   <span># Pin utilisée pour la liaison série.</span>

          int button2 = 4;   <span># Pin utilisée pour la liaison série.</span>

          int feu1_ve = 13;  <span># Pin utilisée pour la liaison série.</span>

          int feu1_or = 12;  <span># Pin utilisée pour la liaison série.</span>

          int feu1_ro = 14;  <span># Pin utilisée pour la liaison série.</span>

          int feu2_ve = 1;   <span># Pin utilisée pour la liaison série.</span>

          int feu2_or = 3;   <span># Pin utilisée pour la liaison série.</span>

          int feu2_ro = 15; <span> # Pin utilisée pour la liaison série.</span>

          <u>// Définition des élements</u>

          int index_seq = 0;  <span># Variable utilisée pour passer d'une séquence à l'autre,
                              initialisée à la première séquence.</span>

          int t = 0; <span># Variable utilisée pour la temporisation.</span>

          boolean stp = false;  <span># Variable pour les boutons piétons.</span>

          char sequence[4][2] = {{feu1_ve,feu2_ro},
                                {feu1_or,feu2_ro},
                                {feu1_ro,feu2_ve},{feu1_ro,feu2_or}};
          <span># Tableau à deux dimensions où chaque ligne équivaut à une étape des feux à allumer.</span>

          int duree[] = {10000,1000,10000,1000};
          <span># Tableau comprenant les différents délais pour chaque étape.</span>

          boolean sensorVal1 = true;  <span># Variable utilisée pour mémoriser l'action sur le bouton 1.</span>

          boolean sensorVal2 = true;  <span># Variable utilisée pour mémoriser l'action sur le bouton 2.</span>

          <u>// fonction qui permet d'éteindre toutes les leds et donc les feux</u>

          void tout_eteindre(){

            digitalWrite(feu1_ro, LOW);  <span># On eteint le premier feu rouge.</span>

            digitalWrite(feu1_or, LOW);  <span># On eteint le premier feu orange.</span>

            digitalWrite(feu1_ve, LOW);  <span># On eteint le premier feu vert.</span>

            digitalWrite(feu2_ro, LOW);  <span># On eteint le deuxième feu rouge.</span>

            digitalWrite(feu2_or, LOW);  <span># On eteint le deuxième feu orange.</span>

            digitalWrite(feu2_ve, LOW);  <span># On eteint le deuxième feu vert.</span>
          }

          void bouton1(){                  <span># Fonction appelée quand le bouton piéton 1 est appuyé.</span>

            Serial.println("bouton1");   <span># Affiche bouton1 dans le moniteur serie.</span>

            if(index_seq == 0){     <span># On détemine si le feu correspondant au bouton est au vert.</span>

              if(t > (duree[index_seq]-duree[index_seq]/4)) delay(duree[index_seq]/4);
              <span># Si la sequence vient de débuter,
                on attends le quart de la durée normale avant de changer de séquence
                pour permettre un écoulement minimum de la circulation.</span>

              index_seq = 0;
              <span># Sélection de la séquence requise - 1, car au retour de la fonction,
                l'index est incrémenté !!! Donc appel de la séquence 1 qui correspond au feu orange.</span>

              stp = true; <span># Présence piéton permet de sortir de la boucle d'attente,
                          la remise à 0 de la variable t aurai eu la même conséquence.</span>

              sensorVal1 = true;  <span># La variable est remise à sa valeur initiale
                                  pour permettre une nouvelle scrutation des boutons.</span>
            }
            else{
              if(index_seq == 2){ <span># Si le feu correspondant au bouton est au rouge.</span>

                if(t < 2000) t = 2000; <span># Si la durée restante au moment de l'appui
                                       sur le bouton est inférieure à 2 secondes,
                                       on remets 2 secondes pour le temps de la traversée du piéton.</span>

                sensorVal1 = true; <span># La variable est remis à sa valeur initiale
                                   pour permettre une nouvelle scrutation des boutons.</span>
              }
            } <span># si on se trouve dans les cas ou le feu est orange sur l'un ou l'autre des feux,
              rien n'est fait mais l'action reste mémorisée
              pour revenir sur cette fonction a la sequence suivante.</span>
          }
          void bouton2(){ <span># cette fonction est identique à celle au-dessus
                          pour le deuxième bouton piéton.</span>

            Serial.println("bouton2");

            if(index_seq == 2){

              if(t > (duree[index_seq]-duree[index_seq]/4)) delay(duree[index_seq]/4);

              index_seq = 2;

              stp = true;

              sensorVal2 = true;
            }
            else{
              if(index_seq == 0){

                if(t < 2000) t = 2000;

                sensorVal2 = true;
              }
            }
          }

          <u>// Fonction qui ne s'effectura qu'une seule fois</u>

          void setup() {

          <u>// Configuration(détermine si les différents broches sont des entrées ou des sorties.</u>

            pinMode(button1, INPUT_PULLUP); <span># Premier bouton en entrer en l'actionnant
                                            ( il envoie des informations au nodeMCU).</span>

            pinMode(button2, INPUT_PULLUP); <span># Deuxième bouton en entrer en l'actionnant
                                            ( il envoie des informations au nodeMCU).</span>

            pinMode(feu1_ve, OUTPUT); <span># Feu vert en sortie (le nodeMCU lui envoie des informations).</span>

            pinMode(feu1_or, OUTPUT); <span># Feu orange en sortie (le nodeMCU lui envoie des informations).</span>

            pinMode(feu1_ro, OUTPUT); <span># Feu rouge en sortie (le nodeMCU lui envoie des informations</span>

            pinMode(feu2_ve, OUTPUT); <span># Feu vert en sortie (le nodeMCU lui envoie des informations).</span>

            pinMode(feu2_or, OUTPUT); <span># Feu orange en sortie (le nodeMCU lui envoie des informations).</span>

            pinMode(feu2_ro, OUTPUT); <span># Feu rouge en sortie (le nodeMCU lui envoie des informations).</span>

          }

          <u>// fonction qui se répète indéfiniment</u>

          void loop() {

            tout_eteindre();  <span># Appel de la fonction qui va éteindre toutes les leds.</span>

            <u>//Chaque séquence est une liste de deux leds à allumer.</u>

            digitalWrite(sequence[index_seq][0], HIGH);  <span># Allume la première led de chaque séquence.</span>

            digitalWrite(sequence[index_seq][1], HIGH);  <span># Allume la deuxième led de chaque séquence.</span>

            t = duree[index_seq]; <span># Initialisation du temps de la séquence.</span>

            stp = false; <span># Initialisation de la présence piéton.</span>

            while(t > 0 && stp == false){     <span># Tant que le temps est pas à 0
                                              et qu'il n''y a pas de piéton.</span>

              delay(100); <span># Intervalle de temps de 0.1 seconde.</span>

              if(sensorVal1 == true && sensorVal2 == true){  <span># L'action sur les boutons est mémorisée
                                                             donc si une action est mémorisée,
                                                             pas de nouvelle scrutation des entrées.</span>

                 sensorVal1 = digitalRead(2); <span># Lecture des entrees boutons.</span>

                 sensorVal2 = digitalRead(4); <span># Scrutation des entrées digitales.</span>
              }
              if(sensorVal1 == false) bouton1();  <span># Appel à la fonction correspondant au
                                                  bouton qui donne un état bas
                                                  parce que l'entrée est configurée en
                                                  "pullup" c'et à dire que sans action
                                                  sur le bouton, une résistance ramène
                                                  un niveau haut sur l'entrée ( = true).</span>

              if(sensorVal2 == false) bouton2();  <span># Idem.</span>

              t -= 100; <span># Décrémentation du temps.</span>
            }

             index_seq += 1; <span># Changement de sequence.</span>

            if(index_seq > 4) index_seq = 0;  <span># Limitation de l'indice de séquence.</span>
      </pre>
    </div>
    <hr/>
  <p> Ce projet est à présent terminé, j'espère qu'il vous aura plus, pour passer à la partie précédente veuillez cliquer <a href="projet2.html">ici</a>
  </div>
</body>
