body
{
  background-color: #333333;
  width:100%;
  margin:auto;
  max-width:900px;
}
.general
{
  background-color: #95979D;
  padding: 70px;
  margin-top: 60px;
  margin-bottom: 60px;
  border: 5px outset blue;
}
h3
{
  text-align: center;
  text-decoration:underline;
  text-decoration-color: brown;
  font-size: 40px;
  margin-top:-20px;
  font-family: sans-serif;
  text-decoration-style: double;
  color: whitesmoke;
}
h4
{
  text-align: center;
  text-decoration:underline;
  text-decoration-color: brown;
  font-size: 40px;
  margin-top:-20px;
  font-family: sans-serif;
  text-decoration-style: double;
  color: whitesmoke;
}
.general >p
{
  text-align: center;
  color: brown;
}
.CMUpremice > p
{
  font-weight: 600;
}
.asavoir
{
  text-decoration: underline;
}
pre
{
  font-size: 14px;
}
h5
{
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
}
.CMUpremice >img:first-of-type
{
  width: 500px;
  display: block;
  margin: auto;
}
.CMUpremice >img:first-of-type:hover
{
  width:100%;
  height:100%;
}
.CMU > p
{
  text-align: center;
  color:white;
}
.CMU >pre>span
{
  color:blue;
}
.CMU>pre>u
{
  color:red;
  font-weight: 600;
}
